<!-- Template for user sign in -->
<template name="signinTemplate">
  <form class="sign-in-form">
    <div class="input-group">
      <span class="input-group-addon" id="logEmailAddOn"><i class="fa fa-envelope-o"></i></span>
      <input type="text" name="loginEmail" placeholder="Registered email address" class="form-control" aria-describedby="logEmailAddon">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="logPassAddOn"><i class="fa fa-unlock-alt"></i></span>
      <input type="password" name="logPassword" placeholder="Registered password" class="form-control" aria-describedby="logPassAddOn">
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
</template>

<template name="home">
  <h1>Welcome to my version of<br/> TODOS Meteor App</h1>
</template>
